dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*
*.plutus
V2_110/DemeterAndDocker/3_NativeTokens/testnet/protocol.params
V2_110/DemeterAndDocker/3_NativeTokens/testnet/unit.json
*.json
*.signed
*.body
*.pid
*.addr
*.unsigned
*.params
